<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
   <div class="form-group">
        <label for="projectname">Project Name</label>
        <input formControlName="projectname" type="text" id="projectname" class="form-control">  
        <span *ngIf="!projectForm.get('projectname').valid && projectForm.get('projectname').touched">
          <span class="help-block" *ngIf="projectForm.get('projectname').errors['forbiddenProjectName']">Name is not valid</span>
          <span class="help-block" *ngIf="projectForm.get('projectname').errors['required']">Field is required</span>
        </span>                
    </div>
   <div class="form-group">
        <label for="email">Email</label>
        <input formControlName="email" type="text" id="email" class="form-control">
        <span *ngIf="!projectForm.get('email').valid && projectForm.get('email').touched">Enter Valid Email</span>                                  
    </div>
   <div class="form-group">
        <label for="status">Select Status</label>        
        <select name="status" id="status" class="form-control" formControlName="status">
          <option value="{{status}}" *ngFor="let status of statuses">{{status}}</option>
        </select>                          
    </div>
    <div>
      <span *ngIf="!projectForm.valid && projectForm.touched">Form is Invalid</span>
    </div>
    <button type="submit" class="btn btn-info" [disabled]="!projectForm.valid">Save</button>
    
</form>