<div class="row">
  <div class="col-md-2" *ngFor="let checkBox of colDefs">
    <mat-checkbox [(ngModel)]="checkBox['value']" (change)=onCheckBoxClick(checkBox)>{{checkBox.name}}</mat-checkbox>
  </div>
</div>

<div class="row" *ngFor="let checkBoxes of twoDmodel;let rowIndex=index">
  <div class="col-md-2" *ngFor="let checkbox of checkBoxes; let colIndex = index">
    <mat-checkbox [(ngModel)]="checkbox['value']" (change)=onCheckBoxClick(checkbox,rowIndex,colIndex)>
      {{rowIndex}}--{{colIndex}}
    </mat-checkbox>
  </div>
</div>
