<div class="row">
  <div class="col-md-2" *ngFor="let header of checkBoxes">
    <div>
      <h3>{{header.name}}</h3>
    </div>
  </div>
  <div class="col-md-2">
    <div>
      <h3>Select All</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2" *ngFor="let checkbox of checkBoxes">
    <mat-checkbox (change)="onChecked($event)">{{checkbox.col}}</mat-checkbox>
  </div>
  <div class="col-md-2" >
    <mat-checkbox (change)="onCheckedSelectAll($event)">Select ALl</mat-checkbox>
  </div>
</div>>
