<h3>Check Box Button </h3>
<hr>
<mat-checkbox #showDetails [value]="2" [checked]="isChecked" (change)="onChecked($event)">subscribes to news letter </mat-checkbox>
<div *ngIf="showDetails.checked"> {{isVisible}} Show Details </div>
<!--__________________________________________________________________________ -->

<h3>Radio Button</h3>
<hr>
<mat-radio-group (change)="onRadioChange($event)">
    <mat-radio-button value="1">Male </mat-radio-button>
    <mat-radio-button value="2" [checked]="isChecked">Female </mat-radio-button>
    <mat-radio-button value="3" [disabled]="true">Others</mat-radio-button>
</mat-radio-group>


<!--__________________________________________________________________________ -->

<h3>Select</h3>
<hr>
<mat-select [(ngModel)]="food" (change)="onSelect($event)" placeholder="please select">
    <mat-option *ngFor="let food of foods" [value]="food.id">{{food.name}}</mat-option>
</mat-select>

<!--__________________________________________________________________________ -->

<h3>Inputs</h3>
<hr>
<mat-input-container>
    <mat-hint>Type a unique username</mat-hint>
    <input #username="ngModel" ngModel name="username" matInput placeholder="username" required/>
    <span matSuffix>@domain.com</span>
    <span matPrefix>admin.</span>
    <mat-error *ngIf="username.invalid && username.errors.required">username is required</mat-error>
</mat-input-container>

<form class="example-form">
    <mat-form-field>
        <textarea matInput rows="2" matTextareaAutosize></textarea>
    </mat-form-field>
</form>


<!--__________________________________________________________________________ -->

<h3>Date Picker</h3>
<hr>
<mat-form-field>
    <input matInput (focus)="picker.open()" [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker touchUi="true"></mat-datepicker>
</mat-form-field>

<h3>ICONS</h3>
<mat-icon>settings_voice</mat-icon>

<h3>Buttons</h3>
<hr>
<button mat-button>Button 1</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button>
<button color="primary" mat-raised-button mat-fab><mat-icon>add</mat-icon></button>


<h3>Chips</h3>
<hr>
<mat-chip-list>
    <mat-chip *ngFor="let category of categories" (click)="selectCategory(category)" [selected]="category.selected">{{category.name}}
    </mat-chip>
</mat-chip-list>

<h3>Progress Bars</h3>
<hr>
<mat-progress-spinner mode="determinate" [value]="progress"></mat-progress-spinner>
<mat-progress-spinner mode="indeterminate" *ngIf="isLoading"></mat-progress-spinner>


<h3>TOOL TIP</h3>
<hr>
<span matTooltip="Show some tootip" matTooltipPosition="above">Show me tooltip</span>

<h3>TABS</h3>
<hr>
<mat-tab-group>
    <mat-tab label="Shipping">
        Shipping Tab contents
    </mat-tab>
    <mat-tab label="Billing">
        Biiling Tab content
    </mat-tab>
</mat-tab-group>


<h3>Modal Dialogue</h3>
<hr>
<button mat-raised-button (click)="openDialogue()">Open Dialogue</button>

<h3>SASS THEME</h3>
<hr>
<button mat-raised-button color="primary">Customed Theme PRIMARY </button>
<button mat-raised-button color="accent">Customed Theme ACCENT</button>
<button mat-raised-button color="warn">Customed Theme WARN</button>

<h3>TYPOGRAPHY</h3>
<hr/>

<h1>
    Heading 1
</h1>
<p>
    s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
    since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
    was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
    desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Why do we use it? It is a long established
    fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using
    Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content
    here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
    as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various
    versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

</p>
<app-table>

</app-table>
