<div class="container">
  <div class="row">
    <h3>App Name :{{appName | async }}</h3>
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" #serverName>
      <button class="btn btn-primary" (click)="onAddServer(serverName.value)">Add Server</button>
      <hr>            
      <button type="button" class="btn btn-info" (click)="onSave()">Save Servers</button>      
      <button type="button" class="btn btn-info" (click)="getServers()">Get Servers</button>      
      <ul class="list-group" *ngFor="let server of servers">
        <li class="list-group-item">{{ server.name }} (ID: {{ server.id }})</li>
      </ul>
    </div>
  </div>
</div>
